body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
}

.vertical {
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: white;
    padding: 0px 100px;
}

nav {
    gap: 1em;
}

nav a {
    color: gray;
    text-decoration: none;
}

header div {
    gap: 0.5em;
}

header h2 {
    font-weight: 300;
    color: grey;
}

.cover {
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background: url('src/logo.jpg');
    background-size: cover;
}

.cover h1 {
    color: white;
    font-weight: 600;
    font-size: 3em;
    margin: 0;
}

.cover button {
    background-color: rgb(107, 107, 107);
    height: 40px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
}

.cover button:hover {
    transition: all 0.5s linear;    
    background-color: rgb(80, 80, 80);
}

.cover p {
    color: white;
}

.about .flex {
    flex-direction: column;
}

.about img {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -5px black;
}

.about {
    padding: 5% 10%;
}

.rooms {
    flex-direction: column;
}

.rooms article {
    border-radius: 15px;
    background-color: grey;
}

.karycel img {
    height: 40vh;
}

.info {
    height: 100%;
    padding: 25px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
}