body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
}

header, nav, header div, .cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: white;
    padding: 0px 100px;
}

nav {
    gap: 1em;
}

nav a {
    color: gray;
    text-decoration: none;
}

header div {
    gap: 0.5em;
}

header h2 {
    font-weight: 300;
    color: grey;
}

.cover {
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background: url('src/XXXL\ \(4\).webp');
    background-size: cover;
}